.addFAQ{
    text-align: center;
    text-decoration: underline;
    font-size:larger;
    color: white;
}

@media screen and (max-width: 768px) {
    .myDivFaq{
        height: 942px;
    }
    
}


