/*About*/
.myImg {
  width: 100%;
}

.myBgFC {
  background-image: url('../Images/diffBG.jpeg');

}

.myHome {

  margin-left: 44%;
  font-size: xx-large;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.myHomeSubtitle {
  margin-left: 35%;
  font-size: x-large;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.myHomeText {
  /*   font-family: fantasy;
 */
  font-size: large;
}

.myCardBody {
  background-color: rgb(20, 133, 180);
}

/*About*/

/* PolicyDetails */
.containerPolicyDetails {
  margin-top: 2%;
  margin-left: 37%;
  width: 25%;
  border-style: dashed;
  border-radius: 3rem;
  height: 40px;
  text-align: center;
  /*   font-family: fantasy;
 */
}

.mainDivPolDet {
  height: 640px;

}

/* Style to create scroll bar in dropdown */
.scrollable-dropdown {
  height: auto;
  max-height: 320px;
  /* Increase / Decrease value as per your need */
  overflow-x: hidden;
}

.myButton {
  width: 45px;
  height: 46px;
  border-radius: 1rem;
}

.myButton :hover {
  cursor: pointer;
}

#button1 {
  background-color: #047faa82;
  color: white;
  padding: 10px 18px;
  margin: 8px 7px;
  cursor: grab;
}

.policyImage {
  margin-left: 40%;
}

.welcomeNote {
  margin-left: 8%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-top: 0.5rem;
  font-size: larger;
  text-decoration: underline;
  color: cadetblue;
}

.mySection {
  width: 315px;
  height: 250px;
  background-color: #2f5d6d;
  border-style: dotted;
  float: left;
  padding: 15px;
  text-align: center;
}

.mySection1 {
  width: 70%;
  height: 250px;
  background-color: #58a0b9;
  border-style: dotted;
  float: right;
  padding: 15px;
  text-align: center;
}

.borderLine {
  border: 1px solid #d6d6d6;
  height: 1px;
}

/* .mySection2{
  width: 300px;
  height: 300px;
  background-color: #eff5f3;
  border-style: dotted;
  margin: auto;
  padding: 15px;
} */

.headerStyle {
  background-color: #0075bc;
}

.mySection ul {
  background-color: #58a0b9;
  /* font-family: fantasy; */
  font-size: larger;
  text-decoration: underline;
  margin-top: 0.5rem;
  cursor: wait;
}

.policyDetSection {
  margin-top: 3rem;

}

.header1Section1 {
  margin-top: 0.5rem;
}

.myMarquee {
  color: #cb2222d6;
  font-size: large;
}

.policyDownButton {
  cursor: pointer;
  background-color: cornflowerblue;
  margin-left: 41%;
  border-radius: 3rem;
  width: 15%;
}

.policyDownButton:disabled{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

/* PolicyDetails */

/* ContactUs */

#button {

  background-color: #4f7490;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  margin-left: 35%;

}

button:hover {
  opacity: 0.8;
}

#studentID,
#DOB,
#helpTopic {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-left: 10%;
  /*   font-family: fantasy;
 */
}

#email {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-left: 10%;
  /*   font-family: fantasy;
 */
}

#fullName {
  width: 70%;
  height: 50px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-left: 10%;
  /*   font-family: fantasy;
 */
}

#message {
  width: 70%;
  height: 155px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-left: 10%;
  /*   font-family: fantasy;
 */
}

.fullName,
.studentID,
.DOB,
.helpTopic,
.message,
.myHeader {
  margin-left: 10%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: aliceblue;

}

.email {
  margin-left: 10%;
  position: absolute;
  margin-top: -16px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: aliceblue;
}



#message ::placeholder {
  text-align: left;
}

.text {
  color: #04AA6D;
}

/* ContactUs */

/*Free Checkups*/
.information {
  margin: 50px 0;
  /*   font-family: fantasy;
 */
}

.mainDivCheckups {
  height: 1150px;
}

.wrap {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.headingInfo {
  font: 500 65px/1 Tungsten;
  color: #000;
  padding-left: 20px;
  position: relative;
  margin: 0 0 50px 0;
}

.information .buckets {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.information .buckets .info:first-child {
  margin-left: 0;
}

.information .buckets .info {
  width: calc(33% -15px);
  margin: 0 15px;
  background: #E7F0F6;
  padding: 30px;
}

.information .buckets .info:last-child {
  margin-right: 0;
}

.headingInner {
  font: 600 32px/1 Tungsten;
  margin: 0 0 10px 0;
  color: #000;
}

.headingPara {
  margin: 0 0 10px 0;
}

.paraOne,
.paraTwo {
  /*   font-family: fantasy;
 */
  color: aliceblue;
  font-size: large;
}

.paraHeading {
  text-align: center;
  text-decoration: underline;
}

.paraContent {
  padding: 10px;
}

.information .info-message {
  padding: 40px 37px 40px 37px;
  border: 3px solid #cdcccc;
  width: 100%;
  position: relative;
  z-index: 1;
  background-color: #E7F0F6;

}

/*Free Checkups*/

/*BookAppointment*/
.datePopulate {
  text-align: center;
  font-size: larger;
  /*   font-family: fantasy;
 */
  color: aliceblue;
  text-decoration: underline;
}


.appointmentForm {
  height: 450px;
}

.inputFields {
  width: 96%;
  height: 30px;
}

.email1,
.phoneNum {
  margin-left: 11%;
  position: absolute;
  /*   margin-top: -4px;
 */
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:aliceblue;
}

#fullName1,
#email1,
#phoneNum {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-left: 10%;
  /*   font-family: fantasy;
 */
}

#buttonAppointment {
  background-color: #4f7490;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 15%;
  margin-left: 15%;

}

buttonAppointment:hover {
  opacity: 0.8;
}


.shownTime {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.myTextColor {
  color: aliceblue;
  font-size: large;
}

/*BookAppointment*/